@import "tailwindcss";

/* Scrollbar general */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #070709;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 9999px;
  border: 2px solid #070709;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #2a2a2a #070709;
}